{% extends "base.html" %}

{% block content %}
    <div>
        <div class="row nav-tabs">
            <ul class="nav">
                <li>
                    <a class="nav-tab-item active" aria-current="page" href="#">User Management</a>
                </li>
            </ul>
        </div>
        <div class="card main-content">
            <div class="card-header">
                        Manage Users
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <button id="add_user" data-url="{% url 'add_user' %}" type="button" class="btn btn-primary">Add User</button>
                </div>
                <div class="input-group rounded">
                      <form type="get" action="." style="margin: 0">
                          <button id="search_submit" type="submit" ><i class="fas fa-search"></i></button>
                        <input  id="search_box" type="text" aria-describedby="search-addon" name="search_box"  placeholder="Search..."
                                aria-label="Search">
                    </form>
                </div>
                <div class="row table-row">
                            <table class="table">
                                {% csrf_token %}
                                <thead class="thead-light">
                                    <tr>
                                        <th class="table-dark">
                                            User Name
                                          </th>
                                        <th class="table-dark">
                                            Roles
                                      </th><th class="table-dark">
                                          Action
                                      </th>
                                    </tr>
                                    {% for user in users %}
                                        <tr class="row-user">
                                            <td><a href="{% url 'edit_user' user.id %}"><p class="card-text">{{ user.user.username }}</p></a></td>
                                            {% if user.id in userrole %}
                                                <td><p class="card-text">{{ userrole|get_item:user.id }}</p></td>
                                            {% endif %}
                                            <td><a class="delete-icon" id="deleteuser" href="#delete_user" data-url="{% url 'delete_user' user.user.id %}">
                                                <i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </thead>
                            </table>
                        </div>
            </div>
        </div>
    </div>
{% endblock %}
